In [1]:
#Project-1 -->Investment Banking - Data Cleaning & Analysis

In [2]:
#To Find who is Loyal Broker

In [3]:
#Firm Sales - Specific to Morgan STanley & Other firms - Other Banks

In [6]:
pd.__version__

'1.1.3'

In [5]:
import pandas as pd
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [7]:
data = pd.read_excel('C:\\Users\\kalyankrishna\\Downloads\\2412624-2318028-investment_banking.xlsx')

In [8]:
data.head()

,broker_id,city,broker_type,fund_category,email_opened,webex_meet,sales_call,firm_sales,global_sales
0,BRXX-1,"PLANTATION, FL",Inter-dealer broker,Emerging-Markets Local-Currency Bond,NaN,NaN,NaN,174.62,174.62
1,BRXX-1,"BRANFORD, CT",Inter-dealer broker,Utilities,NaN,NaN,NaN,0.00,0.00
2,BRXX-1,"JONESBORO, GA",Inter-dealer broker,Intermediate Government,NaN,NaN,NaN,0.00,0.00
3,BRXX-2,"VIENNA, VA",Inter-dealer broker,Intermediate Government,Y,NaN,NaN,0.00,30709.00
4,BRXX-3,"CHAGRIN FALLS, OH",full-service broker,Target-Date 2050,Y,NaN,Y,0.00,0.00

In [9]:
data.shape

(753089, 9)

In [10]:
data.isna().sum()/data.shape[0]*100
#data.shape[0]

broker_id         0.000000
city              0.000000
broker_type       0.000000
fund_category     0.000000
email_opened     57.701679
webex_meet       88.625514
sales_call       76.098708
firm_sales        0.000000
global_sales      0.000000
dtype: float64

### Filling null values

In [11]:
data['email_opened'] = data['email_opened'].fillna('N')
data['webex_meet'] = data['webex_meet'].fillna('N')
data['sales_call'] = data['sales_call'].fillna('N')

In [12]:
data.head(5)

,broker_id,city,broker_type,fund_category,email_opened,webex_meet,sales_call,firm_sales,global_sales
0,BRXX-1,"PLANTATION, FL",Inter-dealer broker,Emerging-Markets Local-Currency Bond,N,N,N,174.62,174.62
1,BRXX-1,"BRANFORD, CT",Inter-dealer broker,Utilities,N,N,N,0.00,0.00
2,BRXX-1,"JONESBORO, GA",Inter-dealer broker,Intermediate Government,N,N,N,0.00,0.00
3,BRXX-2,"VIENNA, VA",Inter-dealer broker,Intermediate Government,Y,N,N,0.00,30709.00
4,BRXX-3,"CHAGRIN FALLS, OH",full-service broker,Target-Date 2050,Y,N,Y,0.00,0.00

In [13]:
data['city'], data['state'] = data['city'].str.split(',',1).str#dividing the city column with city & state with split, with first comma

In [14]:
data.head()

,broker_id,city,broker_type,fund_category,email_opened,webex_meet,sales_call,firm_sales,global_sales,state
0,BRXX-1,PLANTATION,Inter-dealer broker,Emerging-Markets Local-Currency Bond,N,N,N,174.62,174.62,FL
1,BRXX-1,BRANFORD,Inter-dealer broker,Utilities,N,N,N,0.00,0.00,CT
2,BRXX-1,JONESBORO,Inter-dealer broker,Intermediate Government,N,N,N,0.00,0.00,GA
3,BRXX-2,VIENNA,Inter-dealer broker,Intermediate Government,Y,N,N,0.00,30709.00,VA
4,BRXX-3,CHAGRIN FALLS,full-service broker,Target-Date 2050,Y,N,Y,0.00,0.00,OH

### Check for Abnormalities

In [22]:
data[data['state'].str.len()>2]['state'].unique()

array([], dtype=object)

In [16]:
data['state'] = data['state'].str.replace(',','')              #Replacing "," where space,,ie., we are removing extra commas

In [18]:
data['state'] = data['state'].str.replace(' ','')               #Remove extra space
data['state'] = data['state'].str.replace('TNTN','TN')          #Replace "TN" wherever we have "TNTN"
data['state'] = data['state'].str.replace('DCDC','DC')          #Replace "DC" wherever we have "DCDC"

In [19]:
data[data['state'].str.len()>2].head()                           #Length morethan 2 is No result

Empty DataFrame
Columns: [broker_id, city, broker_type, fund_category, email_opened, webex_meet, sales_call, firm_sales, global_sales, state]
Index: []

In [20]:
data[data['state'].str.len()<2].head()                           #Length lessthan 2 is No result

Empty DataFrame
Columns: [broker_id, city, broker_type, fund_category, email_opened, webex_meet, sales_call, firm_sales, global_sales, state]
Index: []

In [21]:
data[data['state'].str.len()==2].head()                          #Only we have len==2 results

,broker_id,city,broker_type,fund_category,email_opened,webex_meet,sales_call,firm_sales,global_sales,state
0,BRXX-1,PLANTATION,Inter-dealer broker,Emerging-Markets Local-Currency Bond,N,N,N,174.62,174.62,FL
1,BRXX-1,BRANFORD,Inter-dealer broker,Utilities,N,N,N,0.00,0.00,CT
2,BRXX-1,JONESBORO,Inter-dealer broker,Intermediate Government,N,N,N,0.00,0.00,GA
3,BRXX-2,VIENNA,Inter-dealer broker,Intermediate Government,Y,N,N,0.00,30709.00,VA
4,BRXX-3,CHAGRIN FALLS,full-service broker,Target-Date 2050,Y,N,Y,0.00,0.00,OH

In [23]:
#data["email_opened"].unique()
#data["webex_meet"].unique()
data["sales_call"].unique()

array(['N', 'Y'], dtype=object)

In [24]:
data['state'].str.isnumeric().sum()

0

In [25]:
data['city'].str.isnumeric().sum()##This Sum should be 0,but why this is 37 .....??

37

In [26]:
data[data['city'].str.isnumeric()]['city'].unique()

array(['64150', '15801', '95678'], dtype=object)

In [27]:
#US Pincodes
#64150------->Riverside
#15801------->Du Bois
#95678------->Roseville
#replacing the above codes with the US city names by checking from google

In [28]:
data['city'] = data['city'].str.replace('64150','Riverside')
data['city'] = data['city'].str.replace('15801','Du Bois')
data['city'] = data['city'].str.replace('95678','Roseville')

In [29]:
data[data['city'].str.isnumeric()]['city'].unique()#rechecking after replacing codes with city names,

array([], dtype=object)

In [30]:
data['city'].str.isnumeric().sum()#rechecking after replacing codes with city names,above step we got 37 and now result is Zero

0

In [31]:
data[data['city'].str.len()==2].head()#rechecking after replacing codes with city names

Empty DataFrame
Columns: [broker_id, city, broker_type, fund_category, email_opened, webex_meet, sales_call, firm_sales, global_sales, state]
Index: []

In [32]:
#data['broker_id'].str.isnumeric().sum()
#data['broker_type'].str.isnumeric().sum()
#data['fund_category'].str.isnumeric().sum()

In [33]:
data['broker_type'].unique()

array(['Inter-dealer broker', 'full-service broker'], dtype=object)

In [34]:
data['fund_category'].unique()

array(['Emerging-Markets Local-Currency Bond', 'Utilities',
       'Intermediate Government', 'Target-Date 2050', 'Multicurrency',
       'Target-Date Retirement', 'World Large Stock',
       'Intermediate-Term Bond', 'Convertibles',
       'Foreign Small/Mid Growth', 'Target-Date 2045', 'Target-Date 2055',
       'Muni California Long', 'High Yield Bond',
       'Allocation--70% to 85% Equity', 'Small Blend', 'Target-Date 2040',
       'Technology', 'Mid-Cap Value', 'World Allocation', 'Mid-Cap Blend',
       'Multisector Bond', 'Foreign Large Growth', 'Target-Date 2025',
       'Options-based', 'Muni New York Long',
       'Allocation--50% to 70% Equity', 'High Yield Muni',
       'Nontraditional Bond', 'Large Growth', 'Foreign Large Blend',
       'Market Neutral', 'World Small/Mid Stock', 'Real Estate',
       'Allocation--15% to 30% Equity', 'Muni Pennsylvania',
       'Allocation--30% to 50% Equity', 'Preferred Stock', 'Europe Stock',
       'Corporate Bond', 'Foreign Large Value', 'World Bond',
       'Equity Energy', 'Muni National Short', 'Large Value',
       'Target-Date 2035', 'Target-Date 2015', 'Tactical Allocation',
       'Large Blend', 'Health', 'Target-Date 2060+', 'Ultrashort Bond',
       'Diversified Emerging Mkts', 'Short Government',
       'Target-Date 2020', 'Muni National Interm', 'Miscellaneous Region',
       'Inflation-Protected Bond', 'Consumer Defensive', 'Bank Loan',
       'Equity Precious Metals', 'Natural Resources', 'Mid-Cap Growth',
       'Muni National Long', 'Small Value', 'Allocation--85%+ Equity',
       'Commodities Broad Basket', 'Diversified Pacific/Asia',
       'Short-Term Bond', 'Small Growth', 'Financial', 'Multialternative',
       'Long-Short Credit', 'Target-Date 2030', 'Global Real Estate',
       'Foreign Small/Mid Value', 'Infrastructure', 'Long-Term Bond',
       'Long-Short Equity', 'Muni Single State Interm',
       'Emerging Markets Bond', 'China Region',
       'Pacific/Asia ex-Japan Stk', 'Muni Single State Short',
       'Managed Futures', 'Muni Single State Long', 'Industrials',
       'Muni Ohio', 'Target-Date 2000-2010',
       'Muni California Intermediate', 'Muni New York Intermediate',
       'Energy Limited Partnership', 'Communications', 'India Equity',
       'Consumer Cyclical', 'Muni New Jersey', 'Latin America Stock',
       'Foreign Small/Mid Blend', 'Bear Market', 'Muni Massachusetts',
       'Muni Minnesota', 'Long Government', 'Japan Stock'], dtype=object)

In [35]:
data.head()

,broker_id,city,broker_type,fund_category,email_opened,webex_meet,sales_call,firm_sales,global_sales,state
0,BRXX-1,PLANTATION,Inter-dealer broker,Emerging-Markets Local-Currency Bond,N,N,N,174.62,174.62,FL
1,BRXX-1,BRANFORD,Inter-dealer broker,Utilities,N,N,N,0.00,0.00,CT
2,BRXX-1,JONESBORO,Inter-dealer broker,Intermediate Government,N,N,N,0.00,0.00,GA
3,BRXX-2,VIENNA,Inter-dealer broker,Intermediate Government,Y,N,N,0.00,30709.00,VA
4,BRXX-3,CHAGRIN FALLS,full-service broker,Target-Date 2050,Y,N,Y,0.00,0.00,OH

In [36]:
data['webex_meet'].str.isnumeric

In [37]:
data[data['webex_meet'].str.len()>1].head()

Empty DataFrame
Columns: [broker_id, city, broker_type, fund_category, email_opened, webex_meet, sales_call, firm_sales, global_sales, state]
Index: []

In [38]:
data[data['email_opened'].str.len()>1].head()

Empty DataFrame
Columns: [broker_id, city, broker_type, fund_category, email_opened, webex_meet, sales_call, firm_sales, global_sales, state]
Index: []

In [39]:
data[data['sales_call'].str.len()>1].head()

Empty DataFrame
Columns: [broker_id, city, broker_type, fund_category, email_opened, webex_meet, sales_call, firm_sales, global_sales, state]
Index: []

In [42]:
data.groupby('broker_id')[['firm_sales']].sum().sort_values('firm_sales',ascending = False)

             firm_sales
broker_id
BRXX-298   5.748833e+08
BRXX-53    2.165282e+08
BRXX-154   2.155913e+08
BRXX-262   1.998988e+08
BRXX-3     1.454181e+08
...                 ...
BRXX-488   0.000000e+00
BRXX-489   0.000000e+00
BRXX-49    0.000000e+00
BRXX-490   0.000000e+00
BRXX-999   0.000000e+00

[1178 rows x 1 columns]

In [46]:
data["broker_id"].nunique()        #So there were a total of 1178 brokers

1178

In [60]:
#Final Case Study
"""
Loyality Percentage  ------>  100%               ------->Loyal
Loyality Percentage  ------>  <90%               ------->Potential to be Loyal
Loyality Percentage  ------>  NaN%               ------->no growth
Loyality Percentage  ------>  0                  ------->not Loyal
Loyality Percentage  ------>  50 to 90%          ------->moderate loyal
Loyality Percentage  ------>  1 to 49%           ------->Less Loyal
"""

print("We will be Segregating like this")

We will be Segregating like this

In [63]:
data1 = data.groupby('broker_id')[['firm_sales','global_sales']].sum().sort_values('firm_sales',ascending = False)

In [65]:
data1.columns

Index(['firm_sales', 'global_sales'], dtype='object')

In [64]:
data1.head()

             firm_sales  global_sales
broker_id
BRXX-298   5.748833e+08  8.225108e+09
BRXX-53    2.165282e+08  8.368342e+09
BRXX-154   2.155913e+08  5.907926e+09
BRXX-262   1.998988e+08  4.671996e+09
BRXX-3     1.454181e+08  5.880297e+09

In [66]:
data1['loyality_percent'] = (data1["firm_sales"] / data1['global_sales'])*100

In [67]:
data1.head()

             firm_sales  global_sales  loyality_percent
broker_id
BRXX-298   5.748833e+08  8.225108e+09          6.989371
BRXX-53    2.165282e+08  8.368342e+09          2.587469
BRXX-154   2.155913e+08  5.907926e+09          3.649187
BRXX-262   1.998988e+08  4.671996e+09          4.278660
BRXX-3     1.454181e+08  5.880297e+09          2.472971

In [68]:
data1.sort_values('loyality_percent', ascending = False)

           firm_sales  global_sales  loyality_percent
broker_id
BRXX-1005       77.23         77.23        100.000000
BRXX-1036      245.76        245.76        100.000000
BRXX-1019     5571.97       5571.97        100.000000
BRXX-498     13042.03      13042.03        100.000000
BRXX-710     27438.30      27627.97         99.313486
...               ...           ...               ...
BRXX-1082        0.00          0.00               NaN
BRXX-50          0.00          0.00               NaN
BRXX-51          0.00          0.00               NaN
BRXX-1084        0.00          0.00               NaN
BRXX-493         0.00          0.00               NaN

[1178 rows x 3 columns]

In [71]:
def loyality_check(loyality_percent):
    if loyality_percent == 100:
        return "loyal Broker"
    elif loyality_percent >= 90:
        return "Steadyfast Loyal Broker"
    elif loyality_percent == 0:
        return "Not-commitmented Broker"
    elif loyality_percent < 50:
        return "Less Inclined Broker"
    elif loyality_percent < 90:
        return "Reasonably Devoted Broker"
    else:
        return "Stagnant Broker"

In [83]:
data1["loyality_category"] = data1["loyality_percent"].apply(loyality_check)

In [85]:
data1.head(50)

,firm_sales,global_sales,loyality_percent,loyality_category
broker_id,,,,
BRXX-298,5.748833e+08,8.225108e+09,6.989371,Less Inclined Broker
BRXX-53,2.165282e+08,8.368342e+09,2.587469,Less Inclined Broker
BRXX-154,2.155913e+08,5.907926e+09,3.649187,Less Inclined Broker
BRXX-262,1.998988e+08,4.671996e+09,4.278660,Less Inclined Broker
BRXX-3,1.454181e+08,5.880297e+09,2.472971,Less Inclined Broker
BRXX-102,1.392001e+08,3.896722e+09,3.572237,Less Inclined Broker
BRXX-92,1.271840e+08,3.858099e+09,3.296545,Less Inclined Broker
BRXX-253,1.095049e+08,2.417693e+09,4.529315,Less Inclined Broker
BRXX-124,8.806711e+07,1.949679e+09,4.517007,Less Inclined Broker
BRXX-93,7.784666e+07,1.278011e+09,6.091237,Less Inclined Broker
BRXX-94,6.184790e+07,1.215718e+09,5.087356,Less Inclined Broker
BRXX-70,3.258296e+07,6.334080e+08,5.144071,Less Inclined Broker
BRXX-299,2.816686e+07,5.385067e+08,5.230550,Less Inclined Broker
BRXX-263,2.719410e+07,2.254376e+08,12.062805,Less Inclined Broker
BRXX-291,2.179009e+07,6.156687e+08,3.539255,Less Inclined Broker
BRXX-136,2.035212e+07,2.773974e+08,7.336809,Less Inclined Broker
BRXX-247,2.018587e+07,6.464249e+08,3.122695,Less Inclined Broker
BRXX-171,2.017504e+07,2.582492e+08,7.812235,Less Inclined Broker
BRXX-261,2.007483e+07,4.121742e+08,4.870473,Less Inclined Broker
BRXX-106,1.956238e+07,2.801175e+08,6.983634,Less Inclined Broker
BRXX-54,1.913247e+07,2.124664e+08,9.004939,Less Inclined Broker
BRXX-172,1.912086e+07,8.027237e+08,2.381998,Less Inclined Broker
BRXX-230,1.631243e+07,3.477943e+08,4.690251,Less Inclined Broker
BRXX-24,1.580003e+07,1.678746e+07,94.118092,Steadyfast Loyal Broker
BRXX-301,1.522935e+07,4.553677e+08,3.344408,Less Inclined Broker
BRXX-249,1.480108e+07,1.458153e+08,10.150569,Less Inclined Broker
BRXX-76,1.324993e+07,5.084810e+08,2.605787,Less Inclined Broker
BRXX-84,1.233132e+07,2.027203e+08,6.082920,Less Inclined Broker
BRXX-55,1.216951e+07,1.403452e+09,0.867112,Less Inclined Broker
BRXX-274,1.191922e+07,7.789250e+07,15.302144,Less Inclined Broker
BRXX-273,1.189186e+07,2.828547e+08,4.204228,Less Inclined Broker
BRXX-72,1.126945e+07,1.440930e+08,7.820951,Less Inclined Broker
BRXX-1,1.115767e+07,1.066317e+08,10.463750,Less Inclined Broker
BRXX-281,1.114828e+07,1.076749e+08,10.353653,Less Inclined Broker
BRXX-248,1.047975e+07,1.705550e+08,6.144497,Less Inclined Broker
BRXX-179,1.015703e+07,4.791777e+08,2.119679,Less Inclined Broker
BRXX-187,9.865495e+06,7.088789e+07,13.917039,Less Inclined Broker
BRXX-112,8.519095e+06,5.400075e+07,15.775883,Less Inclined Broker
BRXX-232,8.350833e+06,1.425225e+08,5.859310,Less Inclined Broker
BRXX-255,7.632247e+06,1.458996e+08,5.231165,Less Inclined Broker
BRXX-210,7.370504e+06,4.505908e+08,1.635742,Less Inclined Broker
BRXX-311,7.210558e+06,2.475487e+08,2.912784,Less Inclined Broker
BRXX-279,6.178809e+06,1.288569e+08,4.795095,Less Inclined Broker
BRXX-313,6.098609e+06,2.071261e+08,2.944394,Less Inclined Broker
BRXX-275,5.736187e+06,1.216002e+08,4.717252,Less Inclined Broker
BRXX-174,5.731301e+06,1.617231e+08,3.543898,Less Inclined Broker
BRXX-225,5.459964e+06,7.449367e+07,7.329434,Less Inclined Broker
BRXX-215,5.425799e+06,8.368913e+07,6.483278,Less Inclined Broker
BRXX-186,4.984665e+06,7.629476e+07,6.533431,Less Inclined Broker
BRXX-107,4.945068e+06,8.964064e+07,5.516547,Less Inclined Broker

In [94]:
data1['broker_id'] = data1.index

In [95]:
data1.columns

Index(['firm_sales', 'global_sales', 'loyality_percent', 'loyality_category',
       'brokers', 'broker_id'],
      dtype='object')

In [99]:
data1 = data1.drop("brokers", axis = 1)

In [102]:
data1.groupby("loyality_category")[["broker_id"]].count().sort_values("broker_id",ascending = False)

                           broker_id
loyality_category
Not-commitmented Broker          686
Less Inclined Broker             310
Stagnant Broker                  166
Reasonably Devoted Broker          7
Steadyfast Loyal Broker            5
loyal Broker                       4

In [103]:
list(data1.columns)

['firm_sales',
 'global_sales',
 'loyality_percent',
 'loyality_category',
 'broker_id']

In [105]:
list(data.columns)

['broker_id',
 'city',
 'broker_type',
 'fund_category',
 'email_opened',
 'webex_meet',
 'sales_call',
 'firm_sales',
 'global_sales',
 'state']

In [106]:
data1.head()

,firm_sales,global_sales,loyality_percent,loyality_category,broker_id
broker_id,,,,,
BRXX-298,5.748833e+08,8.225108e+09,6.989371,Less Inclined Broker,BRXX-298
BRXX-53,2.165282e+08,8.368342e+09,2.587469,Less Inclined Broker,BRXX-53
BRXX-154,2.155913e+08,5.907926e+09,3.649187,Less Inclined Broker,BRXX-154
BRXX-262,1.998988e+08,4.671996e+09,4.278660,Less Inclined Broker,BRXX-262
BRXX-3,1.454181e+08,5.880297e+09,2.472971,Less Inclined Broker,BRXX-3